@inherits LayoutComponentBase

<div class="page">

    <Layout>
        <Header Style="padding-left: 0; padding-right: 0; background: #fff; ">
            <a href="https://github.com/memorydream/PearlCalculatorBlazor" style="float: right; margin-right: 24px;" class="github-icon">
                <Icon Type="github" Theme="outline" Style="font-size: 20px" />
            </a>
        </Header>

        <div style="height: 940px">
            @Body
        </div>
    </Layout>

    <style>
        .logo
        {
            width: 120px;
            height: 30px;
            float: left;
        }

        a.github-icon:link 
        {
            color: #f0f0f0;
        }

        a.github-icon:hover, a.github-icon:active
        {
            color: black;
        }
        
    </style>

    <!--
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
        -->
</div>