.calculator-general-root-mobile {
    display: none;
}

@media screen and (max-width: 420px) {
    .calculator-general-root-default {
        display: none;
    }

    .calculator-general-root-mobile {
        display: block;
    }
}