@page "/"

<div class="calculator-root">

    <div class="calculator-card calculator-input-tab">
        <Card>
            <CardTabs>
                <Tabs DefaultActiveKey="General">

                    <TabPane Key="General">
                        <Tab>General FTL</Tab>
                        <ChildContent>
                            <div style="margin-top: -12px">
                                <PearlCalculatorBlazor.Components.GeneralFTL />
                            </div>
                        </ChildContent>
                    </TabPane>

                    <TabPane Key="Manually">
                        <Tab>Manually</Tab>
                        <ChildContent>
                            <PearlCalculatorBlazor.Components.Manually />
                        </ChildContent>
                    </TabPane>

                </Tabs>
            </CardTabs>
        </Card>
    </div>

    <div class="calculator-card calculator-output-tab">
        <Card>
            <PearlCalculatorBlazor.Components.ResultView />
        </Card>
    </div>
</div>


<style>

    /*不绘制InputNumber的handler*/
    .ant-input-number-handler-wrap {
        visibility: hidden;
    }

    .ant-card {
        height: 100%;
    }

    .ant-card-body {
        height: auto;
    }

</style>